<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgmvzrWtVlhqp5RnzhFb3-wKtXvBZdPpU</string>
	<key>GCM_SENDER_ID</key>
	<string>962311519572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>collegue-17449</string>
	<key>STORAGE_BUCKET</key>
	<string>collegue-17449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962311519572:ios:75f82cad6af412d6f65cc1</string>
</dict>
</plist>